# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/


###################################Added by User

vcs.xml
Seeker.iml
profiles_settings.xml
modules.xml
misc.xml
